/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary);
  font-size: 16px;
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

p {
  color: var(--color-on-surface);
}

.blog-card {
  max-width: 608px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  // box-shadow: 4px 4px 4px #CECECE;
  margin-top: 200px;
}

.blog-card-main-content {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 16px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.bc-image-component {  
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: auto;
  transition: transform .5s;
  background-image: url(public/images/user_image.png);
}

.user-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding: 0;
}

.user-information-component {
  display: flex;
  flex-direction: row;
  align-items: center;  
  gap: 12px;
}

.user-image-component {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.user-name-label {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
}

.hour-label {
  color: #838383;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
}

.article-title-label {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  color: #000000;
  margin-top: 32px;
}

.article-content {
  margin-top: 14px;
  color: #838383;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.read-more-button {
  display: flex;
  color: #000000;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin-top: 32px;
  transition: all .5s;
}

.read-more-button>img {

  padding-left: 12px;
}

@media (max-width: 768px) {
  .blog-card {  
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 14px;
  }

  .blog-card {
    max-width: 343px;
    margin-top: 150px;
  }

  .bc-image-component {
    width: auto;
    height: 273px;
  }

  .user-label {
    margin-top: 24px;
  }

  .user-name-label .hour-label {
    font-size: 12px;
  }

  .user-image-component {
    width: 36px;
    height: 36px;
  }

  .article-title-label {    
    margin-top: 24px;
    font-size: 18px;
  }

  .article-content {
    margin-top: 8px;
    font-size: 14px;
  }

  .title-component {
    font-size: 32px;
  }

  .read-more-button {
    margin-top: 24px;
  }
}

.blog-card:hover {
  .bc-image-component {
    transform: scale(1.025);
  }

  .read-more-button {
    text-decoration: underline;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}